/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
  text-decoration: none;
}

/*Universal*/
* {
  box-sizing: border-box;
}

body {
  background-color: #EAEAEA;
}

/*Header*/
header{
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%
}

@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
  .desktop.logo {
    color: #4A4A4A;
    font-size: 24px;
    font-family: 'Roboto Mono', monospace;
    margin: 1.9rem;
    justify-self: start;
  }
  
  .desktop li{
    color: #4A4A4A;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
  }
  
  .desktop img {
    height: 2rem;
    margin: 1rem;
  }
  
  header .content,
  header .content ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
  }
  
}

@media only screen and (max-width: 768px){
  .desktop{
    display: none;
  }

  .mobile ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
  }

  .mobile .button {
    background-color: #9DC20A;
    padding: 0.5rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    overflow: hidden;
  }
}

/*Sign up Section*/
.banner {
  background-image: url(../images/banner-landingpage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  margin: 0;
}

#sign-up-cta {
  color: white;
  line-height: 1.4;
  text-align: center;
}

@media only screen and (min-width: 768px){
  #sign-up-cta{
    background-color: #9DC20A;
    border: 1px solid #979797;
    border-radius: 4px;
    margin-left: 6.25rem;
    padding-left: 5rem;
    padding-right: 5rem;
    max-width: 36.875rem;
  }

  .banner{
    padding-top: 10.625rem;
    padding-bottom: 10.625rem;
     
  }
}

@media only screen and (max-width: 768px){
  #sign-up-cta .email{
    display: none;
  }
  .banner{
    padding:4rem;
  }
}

.header {
  font-size: 50px;
  font-family: 'Rubik', sans-serif;
  padding-top: 2rem;
  margin-bottom: .75rem;
}

.header .cursive {
  font-family: 'Damion', sans-serif;
}

.email {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.email strong {
  font-weight: bold;
}
.email .button {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background-color: #4a4a4a;
  border-radius: 4px;
  margin-top: 1.625rem;
  margin-bottom: 3.5rem;
  padding: 1rem 0;
}

/*Features*/
@media only screen and (max-width: 425px){
  #features-section{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
  }

  .feature{
    padding: 1rem 1rem 2rem 1rem;
    margin-bottom: 2rem;
  }

  .feature .content h2 {
    font-size: 18px;
    line-height: 1.3;
  }

  .feature .content h3 {
    font-size: 14px;
    line-height: 1.4;
  }
}

@media only screen and (max-width: 768px) and (min-width:425px){
  .feature{
    padding: 2rem 2rem 4rem 2rem;
  }

  .feature .content {
    text-align: left;
  }
  .feature .content h2 {
    font-weight: bold;
    font-size: 36px;
  }

  .feature .content h3 {
    font-size: 16px;
  }

  #features-section{
    margin: 2rem 1rem 2rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
  }
}
@media only screen and (min-width: 768px){
  .feature{
    padding: 2rem 2rem 4rem 2rem;
  }
  .feature .content{
    text-align: center;
  
  }
  .feature .content h2 {
    font-weight: bold;
    font-size: 36px;
  }

  .feature .content h3 {
    font-size: 16px;
  }

  #features-section{
    margin: 4rem 2rem 7.6rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;  }
}
.feature .content{
  color: #4a4a4a;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}

.feature .content h2 {
  margin-bottom: 0.5rem;
}

.feature .content h3 {
  font-weight: lighter;
}

.feature {
  background-color: white;
  height: auto;
}

.feature .image-container{
  display: flex;
  justify-content: center;
}

.feature .image-container img{
  max-width: 90%;
  max-height: 65%;
}

.feature .content{
  margin-top: 2.5rem;
}

/*Filters*/

#filters-section h2,
#filters-section h3 {
  color: white;
  font-family: 'Roboto', sans-serif;
}

#filters-section h2 {
  opacity: 100%;
  font-size: 36px;
  font-weight: bold;
}

#filters-section h3 {
  font-weight: light;
  line-height: 1.4;
  font-size: 16px;
}

#filters-section {
  background-color: #4A4A4A;
}

#filters-section .content{
  padding-top: 4rem;
  padding-bottom: 5rem;
  text-align: center;
}

#filters-section .images-container{
  display: flex;
  padding: 0 1%;
}

@media only screen and (min-width: 768px){
  #filters-section .images-container{
    padding: 0 1% 4rem 1%;
  }
}
#filters-section img {
  max-width: 100%;
  max-height: auto;
}

/*Quotes*/

.quote {
  color: #4A4A4A;
  font-size: 30px;
  font-family: 'Palatino', sans-serif;
  font-weight: 100;
  font-style: italic;
  line-height: 1.1;
  padding-right: 1.8rem;
}

#quotes-section .content {
  padding: 5rem 1.8rem 5rem 0;
  text-align: center;
}

@media only screen and (max-width: 768px) and (min-width: 425px){
  #quotes-section .content{
    display: grid;
    grid-template-columns: 4fr 1fr;
    text-align: left;
  }
}

@media only screen and (max-width: 425px){
  .quote{
    font-size: 24px;
    line-height: 1.4px;
  }
}
/*Footer*/

footer span {
  color: white;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  padding: 1.5rem 1% 1.5rem 2rem;
}
 footer .content {
  background-color: #9b9b9b;
  display: flex;
  justify-content: space-between;
 }

 @media only screen and (max-width: 425px){
  footer span {
    font-size: 10px;
  }
 }